/* All styles for your Card Components live here */
.article-title {
  font-weight: bold;
}
.article-content {
}
.article-footer {
  color: grey;
}
.bannerimage {
  width: 100%;
  border-radius: 5px;
}
a {
  list-style: none;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.card-container {
  margin-left: 10%;
  /* border: 0.1px solid grey;
   */
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px gray;
}
@media (max-width: 400px) {
  .card-container {
    margin-left: 0%;
    /* border: 0.1px solid grey;
     */
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px gray;
    font-size: 10px;
  }
}
