/* All styles for your header Components live here */
.header {
  /* display: flex;
  flex-direction: column; */
}
.headerimage {
  border: 1px solid #72a86b;
  /* flex: 1; */
  width: 5%;
  text-align: center;
  object-fit: cover;

  /* justify-content: center; */
}
.headertitle {
  font-size: 13px;
  word-break: break-all;
}
.headertitle-span {
  font: black;
  font-weight: bold;
}
.headertitle-span-inline {
  display: inline;
}
.headertitle-span-at {
  color: grey;
}
.headercontent-div {
  /* word-break: break-all; */
  text-align: justify;
}
.headerimage-img {
  border-radius: 10px;
  height: 50px;
  width: 50px;
  max-width: 10%;
  /* background: r; */
}
.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.headercontent {
  /* flex: 20; */
  width: 90%;
  border: 1px solid blue;
}
@media (max-width: 400px) {
  .headerimage-img {
    border-radius: 10px;
    height: 25px;
    width: 25px;
    /* background: r; */
  }
  .HeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .headercontent-div {
    word-break: break-all;
    font-size: 10px;
  }
  .headercontent {
    /* flex: 20; */
    width: 100%;
    border: 1px solid blue;
  }
}
