/* 
  Write your styles/CSS for App.js here and import into the component that you need 
  IF you'd like to attempt to use less you'll have to research how to do this with Create React App
*/
.app {
  width: 50%;
  align: center;
  border: 2px solid black;
  padding: 10px;
  /* display: flex;
  justify-content: space-around; */
}
