.calculator {
  border: 1px solid black;
  max-width: 188px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.numbutton-extra {
  grid-column: 1/4;
}
.display {
  grid-column: 1/5;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
