.actionbutton {
  padding: 15px;
  height: 15px;
  width: 15px;
  text-align: center;
  background-color: brown;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid grey;
  cursor: pointer;
}
.numberbutton {
  padding: 15px;
  height: 15px;
  width: 15px;
  /* background-color: brown; */
  /* color: white; */
  font-weight: bold;
  font-size: 20px;
  border: 1px solid grey;
  cursor: pointer;
}
.numbutton-extra {
  /* border: none; */
  width: 109px;
  text-align: center;
  cursor: pointer;
}
